html { height: 100%; }
body {
	background-color: #83D6DE;
	font-familiy: sans-serif;
	margin: 10px auto;
	width: 600px;
}

input {
	border: 1px solid #ccc;
	border-radius: 3px;
	display: block;
	font-size: 14px;
	margin-bottom: 5px;
	padding: 10px;
	width: calc(100% - 20px);
}

.emoji-picker{
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 2px;
	height: 300px;
	overflow: auto;
	overflow-y: scroll;
	// width: 285px;
	
	.emoji-group {
		.emoji-category {
			color: grey;
			font-family: sans-serif;
			font-size: 0.8em;
			font-weight: bold;
			padding: 4px;
		}

		.emoji {
			background-color: inherit;
			border-radius: 2px;
			cursor: pointer;
			display: inline-block;
			font-size: 1.2em;
			margin: 2px;
			padding: 0 4px;

			&:hover {
				background-color: lightgrey;
			}

			&.emoji-with-types {
				position: relative;

				&::before {
					content: "";
					position: absolute;
					border-color: grey;
					border-width: 5px;
					border-style: solid;
					border-bottom-color: transparent;
					border-top-color: transparent;
					border-right-color: transparent;
					-webkit-transform: rotate(-45deg);
					right: -3px;
					top: -3px;
				}
			}

			.emoji-types {
				background-color: #fff;
				border-radius: 2px;
				box-shadow: 0px 0px 10px #000;
				display: none;
				left: -20px;
				position: absolute;
				top: -40px;
				width: 212px;
				z-index: 1;

				&.visible {
					display: block;
				}

				&::after {
					content: "";
					border-color: grey;
					border-width: 5px;
					border-style: solid;
					border-bottom-color: transparent;
					border-right-color: transparent;
					border-left-color: transparent;
					position: absolute;
					left: 30px;
					bottom: -10px;
				}
			}
		}
	}
}